cached-property==1.5.2 ; python_full_version == "3.8.13"
colorama==0.4.6 ; python_full_version == "3.8.13" and sys_platform == "win32"
cytoolz==0.12.3 ; implementation_name == "cpython" and python_full_version == "3.8.13"
eth-abi==5.0.1 ; python_full_version == "3.8.13"
eth-hash==0.7.0 ; python_full_version == "3.8.13"
eth-typing==4.0.0 ; python_full_version == "3.8.13"
eth-utils==4.0.0 ; python_full_version == "3.8.13"
exceptiongroup==1.2.0 ; python_full_version == "3.8.13"
iniconfig==2.0.0 ; python_full_version == "3.8.13"
packaging==24.0 ; python_full_version == "3.8.13"
parsimonious==0.9.0 ; python_full_version == "3.8.13"
pluggy==1.4.0 ; python_full_version == "3.8.13"
py-ecc==7.0.0 ; python_full_version == "3.8.13"
pycryptodome==3.20.0 ; python_full_version == "3.8.13"
pytest[dev]==8.1.1 ; python_full_version == "3.8.13"
regex==2023.12.25 ; python_full_version == "3.8.13"
rlp==4.0.0 ; python_full_version == "3.8.13"
tomli==2.0.1 ; python_full_version == "3.8.13"
toolz==0.12.1 ; (implementation_name == "pypy" or implementation_name == "cpython") and python_full_version == "3.8.13"
